@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--dark-violet);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", sans-serif;
}

.align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align_start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.just_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.btn {
  background-color: transparent;
  border: 1.5px solid #fff;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn_reverse {
  border: 1.5px solid var(--dark-violet);
  color: var(--dark-violet);
}

.line_top::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 150px;
}

.line_violet::before {
  background-color: var(--dark-violet);
}

.line_bottom {
  border-bottom: 1px solid var(--grayish-blue);
  margin-bottom: 30px;
  padding: 10px 0;
}

.mt_7 {
  margin-top: 70px;
}

.flex_1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gap {
  gap: 10px;
}

.wd_100 {
  width: 100%;
}

.mb_2 {
  margin-bottom: 20px;
}

.mt_3 {
  margin-top: 30px;
}

h1,
h2 {
  font-size: 4em;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 100;
  position: relative;
  margin: 10px 0;
  padding-top: 50px;
}

h3 {
  font-size: 1.5em;
  margin: 20px 0;
}

p {
  opacity: 0.8;
  margin: 20px 0;
  line-height: 1.6;
}

.hamburger {
  display: none;
}

.bg_violet {
  background: url(./images/bg-pattern-how-we-work-desktop.svg) no-repeat top right;
  background-color: var(--dark-violet);
  background-size: 50% 100%;
  padding: 70px;
  margin: 100px auto;
}

.bg_violet h2 {
  font-size: 3em;
  color: #fff;
  padding: 0;
  width: 60%;
}

nav {
  padding: 20px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-grayish-violet);
}

header::before {
  content: "";
  background: url(./images/bg-pattern-intro-left-desktop.svg) no-repeat bottom left;
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
}

header * {
  z-index: 1;
}

header {
  background-color: var(--dark-violet);
  color: #fff;
  padding: 50px 0;
  position: relative;
  margin-bottom: 250px;
}

header .hero {
  max-width: 100%;
  margin-bottom: -250px;
}

header::after {
  content: "";
  background: url(./images/bg-pattern-intro-right-desktop.svg) no-repeat top right;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}

footer {
  background-color: var(--very-light-gray);
  background: url(./images/bg-pattern-footer-desktop.svg) no-repeat top left;
  padding: 60px 0 30px;
}

footer h4 {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
  margin-bottom: 15px;
}

footer .social_media ul li {
  margin-left: 15px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: var(--dark-violet);
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reverse_mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  nav .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0;
    cursor: pointer;
    background-color: transparent;
  }
  nav ul.flex {
    display: none;
  }
  header::before,
  header::after {
    display: none;
  }
  header {
    padding-top: 0;
    margin-bottom: 50px;
  }
  header .hero {
    display: inline-block;
    margin-left: -20px;
    margin-bottom: -20px;
    max-width: calc(100% + 40px);
  }
  .line_top::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .social_media ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bg_violet {
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  }
  .bg_violet h2 {
    margin-bottom: 20px;
    width: 100%;
  }
  footer {
    background-image: url(./images/bg-pattern-footer-desktop.svg) top center;
    background-size: 100% auto;
  }
}
/*# sourceMappingURL=style.css.map */